
/* petit reset minimal de base */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  /* On normalise la taille d'écriture sur l'élément html (root) à 10px. Donc 1rem = 10px */
  font-size: 62.5%;

  -webkit-text-size-adjust: none; /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  cursor: default;
  scroll-behavior: smooth;
  tab-size: 4;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  /* On remet la taille de la police d'écriture à 16px, vu que 1rem = 10px, 1.6rem = 16px. Donc par rapport au body 1em = 16px */
  font-size: 1.6rem;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  position: relative;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  color: #131418;
  background-color: #efefef;
}

a{
  text-decoration: none;
}

img,
video,
picture {
  display: block;
  max-width: 100%;
}

img,
video {
  width: 100%;
  height: auto;
}

svg {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* Preventing Text Overflow */
h1, h2, h3, h4, h5, p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

img, svg {
  width: 2.4rem;
  height: 2.4rem;
}
header{
  background: black;
  padding: 0.08rem;
}
header a {
  text-decoration: none;
  font-family: 'nunito-sans';
  font-size: 1.6em;
  color: white;
  font-weight: 300;
}
header svg {
  margin-left: 1.5rem;
  fill: red;
}

nav{
  position: sticky;
  padding: 1rem;
}

nav p {
  font-family: 'nunito-sans';
  font-weight: 900;
  font-size: 1.1em;
}

nav span{
  color:red;
}

#coin-bas-droite img
{
width: 6rem;
height: 6rem;
}

.flex-row {
  display:flex;
  justify-content: space-between;
}
.liste_horizontal{
  display: flex;
  gap: 1rem;
  list-style-type: none;
  fill:white;
  text-decoration: none;
  font-size: 1.1em;
}

.liste_horizontal svg{
  fill:white;
}