@font-face {
  font-family: "Nunito Sans";
  src: url("/assets/fonts/Nunito-Sans-Regular.ttf") format("ttf"),
         url("/assets/fonts/Nunito-Sans-Regular.woff") format("woff");
 }
 @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* petit reset minimal de base */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  /* On normalise la taille d'écriture sur l'élément html (root) à 10px. Donc 1rem = 10px */
  font-size: 62.5%;

  -webkit-text-size-adjust: none; /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  cursor: default;
  scroll-behavior: smooth;
  tab-size: 4;
  font-family: 'Nunito Sans';
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  /* On remet la taille de la police d'écriture à 16px, vu que 1rem = 10px, 1.6rem = 16px. Donc par rapport au body 1em = 16px */
  font-size: 1.6rem;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  position: relative;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  color: #131418;
  background-color: #efefef;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  font-weight: bold;
}

img,
video,
picture {
  display: block;
  max-width: 100%;
}

img,
video {
  width: 100%;
  height: auto;
}

svg {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* Preventing Text Overflow */
h1, h2, h3, h4, h5, p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
h1{
font-size: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: center;
    color: #1e62a7;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
  }
  h1::before{
    content: "";
    flex: 0 1 16rem;
    border-bottom: 0.2rem solid #1e62a7;
    margin: 0.5em;
  } 
  h1::after{
    content: "";
    flex: 0 0 16%;
    border-bottom: 0.2rem solid #1e62a7;
    margin: 0.5em;
  }  
header{
  background: black;
  padding: 0.08rem;
}
header a {
  text-decoration: none;
  font-family: 'Nunito Sans';
  font-size: 1.5em;
  color: white;
  font-weight: 300;
}
header svg {
  margin-left: 1.5rem;
  fill: red;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
}

nav{
  position: sticky;
  top: 0rem;
  padding: 1rem;
  background-color: #d8d6d3;
}


nav p {
  font-family: 'Nunito Sans';
  font-weight: 900;
  font-size: 1.3em;
}

nav span{
  color:red;
}

section{
  margin-bottom: 12rem;
  display: block;
}

main {
  display: block;
}
main svg{
  width: 2.4rem;
  height: 2.4rem;
}


footer{
  background: #212E53;
  padding: 2em;
}

footer span{
  color: orange;
}
footer main{
  gap: 2em;
  align-items: center;
}
footer a{
  color: red;
  font-size: 1em;
}
footer p{
  color: white;
  font-size: 1.1em;
  text-align: center;
  font-weight: 900;
}
footer li a{
  color: #9AC8EB;
}

footer p:nth-of-type(1){
  font-size: 3rem;
  color:white;
}

#pres {
  background: no-repeat bottom url(assets/images/home-page-header.png);
  background-color: #d8d6d3;
  height: 50rem;
  margin-bottom: 10rem;
}

#presentation {
  justify-content: space-evenly;
  height: 50rem;
}

#presentation p:nth-of-type(1) {
  font-size: 1.5em;
  flex-basis: 30%;
}
#presentation p:nth-of-type(2) {
  flex-basis: 30%;
}
#presentation a {
  color: red;
  font-weight: bold;
  font-size: 1.1em;
}


#crea {
  align-items: flex-end;
}

#basDroite {
  text-align: center;
  flex-basis: 35%;
  align-items: center;
  font-weight: bold;
}
#basDroite img {
  width: 6rem;
}

#aide{
  gap: 1em;
  justify-content: left;
  margin-bottom: 15rem;
}
#aide div:nth-of-type(1) {
  color: red;
}
#aide div:nth-of-type(2) {
  color: yellow;
}
#aide div:nth-of-type(3) {
  color: blue;
}
#aide main:last-child {
  flex-basis: 60%;
}
#aide p{
  font-size: 1.1em;
}
#aide svg{
  fill: currentColor;
}

#block1{
  align-items: center;
  gap: 1em;
  margin-bottom: 15rem;
}
#block1 div:first-child{
  flex-basis: 60%;
}
#block1 div:last-child{
  flex-basis: 40%;
}

#competences div:first-child{
  flex-basis: 40%;
}
#competences div:last-child{
  flex-basis: 60%;
}

#listeCompetences{
  width: 60%;
  margin: 0 auto;
}

#listeCompetences img{
  width: 2.4rem;
  height: 2.4rem;
}
#listeCompetences h3{
  margin-bottom: 2rem;
}
#listeCompetences h4{
  color:red;
}
#listeCompetences p{
  font-style: italic;
}
#listeCompetences li{
  justify-content: left;
  gap: 1em;
  margin-bottom: 1em;
  align-items: center;
}

#icon h3{
  text-align: left;
  margin-bottom: 1em;
}

#dev{
gap: 3em;
row-gap: 1em;
justify-content: space-around;
margin-right: 15rem;
margin-bottom: 2em;
}
#dev img{
  width: 5em;
  justify-content: center;
}
#dev li{
  list-style-type: none;
}
#dev li:nth-of-type(6) img{
  margin-top: 1em;
  width: 8em;
}
#dev li:nth-of-type(7) img{
  margin-top: 1em;
}
#dev li:nth-of-type(13) img{
  margin-top: 1em;
  width: 8em;
}
#graph{
  margin-right: 15rem;
}
#graph img{
  width: 2em;
}

#formationContinue{
  margin-top: 15rem;
}

#formationContinue img{
  width: 2em;
}

#formations{
  justify-content: space-between;
  gap:1em;
  margin-top: 5rem;
}

#formations div:nth-of-type(1){
  flex-basis: 33%;
}

#formations div:nth-of-type(2){
  flex-basis: 33%;
}

#formations div:nth-of-type(3){
  flex-basis: 33%;
}

#dlCV{
  margin-bottom: 15rem;
}
#dlCV a{
  justify-content: center;
  color: red;
  font-weight: 900;
  font-size: 1.4em;
  gap: 1em;
  margin-top: 2em;
}
#dlCV img{
  width: 2.4rem;
}

.boutonBas{
  background: #011150;
  border-radius: 3em;
  padding: 0.8em 1em;
  color: rgb(165, 165, 241);
  font-size: 0.8em;
  display: inline-block;
  margin-top: 1rem;
}


.formation{
  text-align: center;
  align-items: center;
  border: 0.1rem solid grey;
  border-radius: 0.3rem;
  gap: 1em;
}
.formation p:nth-of-type(2){
  color:grey;
  border-bottom: 0.3rem solid black;
  width: 60%;
  border-radius: 0.3rem;
  padding-bottom: 0.5em;
}
.formation p:nth-of-type(3){
  color: rgb(3, 3, 115);
  font-weight: bold;
  font-size: 1.5em;
}

.formation p:nth-of-type(4){
  font-weight: bold;
}
.formation span{
  width: 100%;
  height: 100%;
  background-color: #c9d3db;
  flex-basis: 3.5em;
  border: 0.1rem solid grey;
}
.flex-row {
  display:flex;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.wrap{
  flex-wrap: wrap;
}

.listeH{
  display: flex;
  gap: 1rem;
  list-style-type: none;
  fill:white;
  text-decoration: none;
  font-size: 1.1em;
}

.listeH svg{
  fill:white;
}
.bouton{
background-color: #010162;
border: 0.1rem red solid;
padding: 0.8em;
margin: 1rem;
border-radius: 1rem;
font-weight: bold;
font-size: 1.3em;
gap: 1em;
justify-content: flex-start;
}
.txt{
  font-size: 1.1em;
}
.sousH1{
  margin-top: 2rem;
  color: #4aa4fe;
  text-align: center;
  padding-right: 8rem;
  margin-bottom: 2rem;
}

.projet{
  margin-top: 5rem;
}

.projet img{
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 4px 5px 17px 3px #5C5C5C; 
  box-shadow: 4px 5px 17px 3px #5C5C5C; 
}

.projetdes{
  justify-content: center;
}

.projetdes p:nth-of-type(3){
  font-size: 1.5em;
  margin-bottom: 5rem;
}

.projetdes a{
  background:#010162;
  padding: 1em;
  color: white;
}
