
/* petit reset minimal de base */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  /* On normalise la taille d'écriture sur l'élément html (root) à 10px. Donc 1rem = 10px */
  font-size: 62.5%;

  -webkit-text-size-adjust: none; /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  cursor: default;
  scroll-behavior: smooth;
  tab-size: 4;
  font-family: 'Nunito Sans';
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  /* On remet la taille de la police d'écriture à 16px, vu que 1rem = 10px, 1.6rem = 16px. Donc par rapport au body 1em = 16px */
  font-size: 1.6rem;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  position: relative;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  color: #131418;
  background-color: #efefef;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  font-weight: bold;
}

img,
video,
picture {
  display: block;
  max-width: 100%;
}

img,
video {
  width: 100%;
  height: auto;
}

svg {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* Preventing Text Overflow */
h1, h2, h3, h4, h5, p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
h1{
font-size: 2em;
    font-family: 'Nunito Sans';
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: center;
    color: #7895B2;
  }
  h1::before{
    content: "";
    flex: 0 1 16rem;
    border-bottom: 0.2rem solid #7895B2;
    margin: 0.5em;
  } 
  h1::after{
    content: "";
    flex: 0 0 16%;
    border-bottom: 0.2rem solid #7895B2;
    margin: 0.5em;
  }  
header{
  background: black;
  padding: 0.08rem;
}
header a {
  text-decoration: none;
  font-family: 'nunito-sans';
  font-size: 1.6em;
  color: white;
  font-weight: 300;
}
header svg {
  margin-left: 1.5rem;
  fill: red;
  width: 2.4rem;
  height: 2.4rem;
}

nav{
  position: sticky;
  top: 0rem;
  padding: 1rem;
  background-color: #d8d6d3;
}


nav p {
  font-family: 'nunito-sans';
  font-weight: 900;
  font-size: 1.1em;
}

nav span{
  color:red;
}

section{
  margin-bottom: 12rem;
}

main {
  display: block;
}
main svg{
  width: 2.4rem;
  height: 2.4rem;
}

#first_block {
  background: no-repeat bottom url(/assets/images/home-page-header.png);
  background-color: #d8d6d3;
  height: 50rem;
  margin-bottom: 10rem;
}

#presentation {
  justify-content: space-evenly;
  height: 50rem;
}

#presentation p:nth-of-type(1) {
  font-size: 1.5em;
  flex-basis: 30%;
}
#presentation p:nth-of-type(2) {
  flex-basis: 30%;
}
#presentation a {
  color: red;
  font-weight: bold;
  font-size: 1.1em;
}


#crea {
  align-items: flex-end;
}

#pres_coin_inf_droite {
  text-align: center;
  flex-basis: 35%;
  align-items: center;
  font-weight: bold;
}
#pres_coin_inf_droite img {
  width: 6rem;
}

#aide{
  gap: 1em;
  justify-content: left;
  margin-bottom: 15rem;
}
#aide div:nth-of-type(1) {
  color: red;
}
#aide div:nth-of-type(2) {
  color: yellow;
}
#aide div:nth-of-type(3) {
  color: blue;
}
#aide main:last-child {
  flex-basis: 60%;
}
#aide p{
  font-size: 1.1em;
}
#aide svg{
  fill: currentColor;
}

#block1{
  align-items: center;
  gap: 1em;
  margin-bottom: 15rem;
}
#block1 div:first-child{
  flex-basis: 60%;
}
#block1 div:last-child{
  flex-basis: 40%;
}
#competences{
  text-align: center;
}


.container {
  margin: 0 auto;
  width: 70%;
}

.flex-row {
  display:flex;
  justify-content: space-between;
}

.flexbox_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.liste_horizontal{
  display: flex;
  gap: 1rem;
  list-style-type: none;
  fill:white;
  text-decoration: none;
  font-size: 1.1em;
}

.liste_horizontal svg{
  fill:white;
}
.bouton{
background-color: #010162;
padding: 0.8em;
margin: 1rem;
border-radius: 1rem;
font-weight: bold;
font-size: 1.3em;
gap: 1em;
justify-content: flex-start;
}
.texte{
  font-size: 1.1em;
}
.sousH1{
  margin-top: 2rem;
  color: #7895B2;
  text-align: center;
  padding-right: 8rem;

}